.slider-wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: #ededed;
  padding: 15px;

  .ticks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-right: 1px;

    .tick {
      position: relative;
      display: flex;
      justify-content: center;
      width: 10px;

      &:last-child {
        right: 1px;
        left: auto;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 1px;
        height: 5px;
        background-color: #b8b8b8;
      }
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    margin: 0 0;

    &::-webkit-slider-runnable-track {
      background: #b8b8b8;
      height: 0.5rem;
    }
    &::-moz-range-track {
      background: #b8b8b8;
      height: 0.5rem;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #000000;
      margin-top: -2px;
      width: 12px;
      height: 12px;
      border: 1px solid #000000;
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      border: none;
      background-color: #000000;
      width: 12px;
      height: 12px;
      border: 1px solid #000000;
      border-radius: 50%;
    }

    &:focus {
      outline: none;

      // &::-webkit-slider-thumb {
      //   border: 1px solid #053a5f;
      //   outline: 3px solid #053a5f;
      //   outline-offset: 0.125rem;
      // }

      // &::-moz-range-thumb {
      //   border: 1px solid #053a5f;
      //   outline: 3px solid #053a5f;
      //   outline-offset: 0.125rem;
      // }
    }
  }
}
