.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ededed;
  padding: 15px;
}

.slider-wrapper .ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
  margin-right: 1px;
}

.slider-wrapper .ticks .tick {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
}

.slider-wrapper .ticks .tick:last-child {
  right: 1px;
  left: auto;
}

.slider-wrapper .ticks .tick:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 1px;
  height: 5px;
  background-color: #b8b8b8;
}

.slider-wrapper input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  margin: 0 0;
}

.slider-wrapper input[type="range"]::-webkit-slider-runnable-track {
  background: #b8b8b8;
  height: 0.5rem;
}

.slider-wrapper input[type="range"]::-moz-range-track {
  background: #b8b8b8;
  height: 0.5rem;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  margin-top: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-wrapper input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: #000000;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-wrapper input[type="range"]:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */